.App{
  min-height: 100vh;
  padding: 30px;

}
.search-form{
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fa00f6;
  gap: 0px 50px;
  
}
.search-bar{
  width: 50%;
  border:none;
  padding: 10px;
  border-radius: 5px;
 

}
.search-button{
  background: #00e5ff;
  border: 1px solid rgb(0, 255, 89);
  border-radius: 8px;
  padding: 10px 30px  ;
  color: rgb(255, 255, 255);
  font-size: larger;
  
}

.recipes{
  padding: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}